In [5]:
import pymysql
import pandas as pd


#db연결
conn_py = pymysql.connect(host = 'localhost', user='root', password = '3330', database = 'test', port = 3306, charset = 'utf8mb4')
#생성할 테이블 이름
num = 0
tbl_name = f"trial_{num}"

df_corpus = pd.read_pickle("../web2df/saved/df_corpus.pickle")
df_corpus = df_corpus.where((pd.notnull(df_corpus)), None) #nan -> none
colum_names = df_corpus.columns.tolist() #리스트로 반환
# colum_names.remove("case_txt_in_file")
t=tuple(colum_names) # 컬럼이름들(키값)을 튜플로 반환


str_colum_names = '' # 컬럼이름들(키값)을 string 으로
for k in colum_names:
    str_colum_names = str_colum_names + ', ' + str(k)


list_corpus = []
i = 0

for i in range(len(df_corpus)-num): # range 맨마지막 값 포함하는지 확인/ 전체 코르푸스의 갯수만큼 반복문을 돌아라 0 ~ 끝까지
    tuple_corpus = () # 빈튜플 생성 이 튜플안에 0행의 컬럼이름별 값이 들어갈 것.
    
    for j in colum_names: 
        temp = ( df_corpus[j].values[i], ) # j는 열이름 i는 행순서
        tuple_corpus = tuple_corpus + temp # 0행에 해당하는 모든 열의 값을 튜플로 만듬

    list_corpus.append(tuple_corpus)
    i += 1


try:
    with conn_py.cursor() as cursor:
        create_sql = f'''
        CREATE TABLE {tbl_name} (   num int UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
                                    applicable_acts mediumtext NULL,
                                    applicable_acts_in_body mediumtext NULL,
                                    applicable_cases_in_body mediumtext NULL,
                                    applicable_precedents mediumtext NULL,
                                    case_full_no mediumtext NULL,
                                    case_official_name mediumtext NULL,
                                    case_txt_in_file mediumtext NULL,
                                    case_unofficial_name mediumtext NULL,
                                    citedPlace mediumtext NULL,
                                    decision_gists mediumtext NULL,
                                    decision_items mediumtext NULL,
                                    file_created_time mediumtext NULL,
                                    folder_file_name mediumtext NULL,
                                    following_cases mediumtext NULL,
                                    hangul_keyword mediumtext NULL,
                                    important INT NULL,
                                    jeonhap INT NULL,
                                    main_decision mediumtext NULL,
                                    party_info mediumtext NULL,
                                    previous_case mediumtext NULL,
                                    reasoning mediumtext NULL,
                                    related_articles mediumtext NULL,
                                    site mediumtext NULL,
                                    supreme INT NULL,
                                    case_comment mediumtext NULL
                                    ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
                                    '''
        cursor.execute(create_sql)
        print(f"{tbl_name}생성 완료")
        conn_py.commit()    
        sql = f'insert into {tbl_name} (' + str_colum_names[1:] +  ' ) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'
        cursor.executemany(sql, list_corpus)
    conn_py.commit()
except :
    print('something wrong!')

finally:
    conn_py.close()


print("완료")


# import sqlalchemy
# from sqlalchemy.dialects.mysql import MEDIUMTEXT

# urls = glob.glob("c:/Users/HY/Documents/pythonStudy/web2db/for_db/df_corpus_*.xlsx")
# engine = sqlalchemy.create_engine("mariadb+mariadbconnector://{user}:{pw}@localhost:3307/{db}?utf8mb4_unicode_ci".format(user='root', pw='3330', db='practicedb'))
# num = 0
# for i in urls:
#     data = pd.read_excel(i)
#     data = data.drop(['case_txt_in_file'], axis=1)
#     with engine.connect() as conn:
#         dtype = {'reasoning':LONGTEXT, 'main_decision':LONGTEXT}
#         data.to_sql(name="cor2tbl_" + str(num), con=conn, if_exists='replace', index=False, dtype=dtype)    
#     num += 1

# print("완료")